/*
    Component: header
    ---
    Main header of the website
*/

.c-header__nav {
    display: none;
  }
  
  @media (min-width: 992px) {
    .c-header {
      display: flex;
      gap: 24px;
      justify-content: space-between;
    }
  
    .c-header__nav {
      display: block;
    }
  }